html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica W01 Bold, Helvetica, Arial, sans-serif;
    overflow: hidden;
    background-color: white;;
}

a {
    text-decoration: none;
    decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    decoration: none;
    color: #000000;
}

.section {
    padding-left: 4%;
    padding-top: 5%;
}

.end_result_text {
    font-size: 65px;
    cursor: pointer;
    float: left;
}

.bg_pos {
    float: left;
    width: 20%;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.result_pos {
    float: left;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 21%;
}

.fixed_element_rest_list {
    position: fixed;
    top: 20px;
    right: 0px;;
    width: 200px;
    height: 200px;;
    z-index: 100;
    display: none;
}

#fixed_element_counter {
    position: fixed;
    top: 127px;
    right: 201px;
    width: 200px;
    height: 200px;;
    z-index: 100;
    font-size: 180px;

}

.fixed_element_back_button {
    position: fixed;
    top: 82px;
    z-index: 100;
    left: 48%;
    background: url(img/back.png);
    width: 36px;
    height: 18px;
    cursor: pointer;
    display: none;
}

.question {
    font-size: 100px;
    float: left;
    width: 30%;
    margin-top: 20px;
}

.back {
    margin-left: 48%;
    background: url(img/back.png);
    width: 36px;
    height: 18px;
    cursor: pointer;
}

#blackBG {
    background-color: white;
    display: none;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;

}

#resizeBG {
    background-color: white;
    display: none;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#no_options_msg {
    display: none;
    position: fixed;
    top: 40%;
    left: 33%;
    width: 500px;
    height: 200px;
    z-index: 100;
}

#resize_msg {
    display: none;
    position: fixed;
    top: 40%;
    left: 33%;
    width: 500px;
    height: 225px;
    z-index: 100;
    font-size: 46px;
}

#no_options_msg_back {
    position: absolute;
    top: 25px;
    font-size: 25px;
    cursor: pointer;
}

.end_result_header {
    width: 310px;
    font-size: 36px;
}

#flip_it {

}

#ruler {
    visibility: hidden;
    white-space: nowrap;
    font-size: 50px;
    font-family: Helvetica W01 Bold;
}

#fixed_element_about_content {
    height: 100%;
    width: 550px;
    opacity: 0.9;
    position: fixed;
    top: -20px;
    left: -500px;
}

#about_content {
    height: 100%;
    width: 500px;
    background-color: rgb(238, 33, 100);
}

#about_btn {
    width: 38px;
    height: 66px;
    position: absolute;
    top: 49%;
    left: 500px;
    background: url(img/info.PNG) no-repeat;
    cursor: pointer;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.para {
    font-size: 20px;
    font-family: Helvetica W01 Bold;
    padding-top: 10%;
    padding-left: 10%;
    color: white;
}

#end_result {

}

.end_result_tel {
    font-size: 65px;
    cursor: pointer;
    float: left;
    cursor: pointer;
}

.float {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

#end_result_info {
    position: absolute;
    /* left: -467px;*/
    top: 0px;
    left: 0px;
}

#end_result_next {
    font-size: 24px;
    line-height: 78px;
}

#sticky_story {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    z-index: 0;
    font-size: 180px;
    background-color: #d3d3d3;

}

#story_text {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 20%;
    left: 4%;
    font-size: 13px;
}

.story {
    float: left;
    margin-right: 3px;
}

#result_container {
    position: relative;
    height: 120px;
    left: 218px;
    overflow: hidden;
}

#visiable {
    width: 300px;
    height: 120px;
}

#first {
    float: left;
    cursor: pointer;
}

#second {
    float: left;
    cursor: pointer;
}

#fixed_element_contact {
    display: none;
    height: 100%;
    width: 550px;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    left: -550px;
    background-color: #778899;
}

#fixed_element_contact_body {
    margin-top: 22%;
    height: 250px;
    color: white;

}

#contact_header {
    margin-bottom: 20px;
}

#mailUs {

}

#mailUsClose {
    background: url(img/close.png) no-repeat;
    width: 18px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 12px;
}

#aboutUsClose {
    background: url(img/close.png) no-repeat;
    width: 18px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 12px;
}