html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica W01 Bold, Helvetica, Arial, sans-serif;
    overflow: hidden;
    background-color: white;

}

a {
    text-decoration: none;
    decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    decoration: none;
    color: #000000;
}

#container {
    /*  width: 1024px;*/
    /*text-align: center;*/
    display: none;
}

#pass_welcome {
    /*display: block;*/
}

#pass_container {
    position: fixed;
    left: 50%;
    top: 30%;
    z-index: 100;
    height: 124px;
    margin-top: -62px;
    width: 447px;
    margin-left: -172px;
}

#passwordInput {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 6px;
    border: 1px solid #B4B4B4;
    height: 30px;
    width: 219px;
    outline: 0;
    margin-left: 5px;
    padding-left: 5px;
}

#pass_header {
    font-size: 72px;
    letter-spacing: -4px;
    margin-bottom: -6px;
    margin-left: -3px;
}

#password {
    font-size: 24px;
    vertical-align: -4px;
    letter-spacing: -1px;
}

#enter_pass {
    font-size: 24px;
    vertical-align: -4px;
    letter-spacing: -1px;
    cursor: pointer;
    margin-left: 5px;
}
.red {
    color: red;
}
.section {
    padding-left: 133px;
    padding-top: 90px;
}
.sectionRes {
    padding-top: 90px;

}
.end_result_text {
    font-size: 65px;
    cursor: pointer;
    float: left;
    letter-spacing: -1px;
}
.bg_pos {
    float: left;
    width: 20%;
    font-weight: bold;
    font-size: 64px;
    margin-top: 25px;
    line-height: 59px;
}
.result_pos {
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.fixed_element_rest_list {
    position: fixed;
    right: 0px;;
    width: 200px;
    height: 200px;;
    z-index: 100;
    display: none;
}
#fixed_element_counter {
    position: fixed;
    top: 90px;
    letter-spacing: -8px;
    right: 6%;
    width: 200px;
    height: 200px;;
    z-index: 100;
    font-size: 140px;

}

.fixed_element_back_button {
    position: fixed;
    top: 90px;
    z-index: 100;
    /*left: 48%;*/
    width: 100%;
    /* margin-left: auto;
     margin-right: auto;*/
    cursor: pointer;
    display: none;
}

.fixed_element_back_button_img {
    background: url(img/back.png);
    width: 36px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
}

.question {
    font-size: 48px;
    float: left;
    width: 350px;
    margin-top: 25px;
    letter-spacing: -2px;
    line-height: 48px;
}

.back {
    margin-left: 48%;
    background: url(img/back.png);
    width: 36px;
    height: 18px;
    cursor: pointer;
}

#blackBG {
    background-color: white;
    display: none;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;

}

#resizeBG {
    background-color: white;
    display: none;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#no_options_msg {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    height: 50px;
    margin-top: -25px;
    width: 287px;
    margin-left: -193px;
    display: none;

}

#resize_msg {
    display: none;
    position: fixed;
    top: 40%;
    left: 33%;
    width: 500px;
    height: 225px;
    z-index: 100;
    font-size: 46px;
}

#no_options_msg_back {
    font-size: 25px;
    cursor: pointer;
}

.end_result_header {
    width: 188px;
    font-size: 24px;
    letter-spacing: -1px;
}

#flip_it {

}

#ruler {
    visibility: hidden;
    white-space: nowrap;
    font-size: 50px;
    font-family: Helvetica W01 Bold;
    letter-spacing: -1px;
}

#fixed_element_about_content {
    height: 100%;
    width: 440px;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    left: -500px;
    z-index: 2;
    text-align: left;
    background-color: rgb(238, 33, 100);
    /*background-color: black;*/
}

#about_content {
    height: 100%;
    width: 436px;
    overflow: auto;
}

#about_btn {
    width: 38px;
    height: 66px;
    position: absolute;
    top: 50%;
    left: 500px;
    background: url(img/info.PNG) no-repeat;
    cursor: pointer;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -33px;
}

.para {
    font-size: 18px;
    font-family: Helvetica W01 Light;
    /* padding-top: 7%;
     padding-left: 10%;*/
    margin-top: 43px;
    margin-left: 63px;
    color: rgb(255, 255, 255);
    line-height: 26px;
}

#end_result {

}

.end_result_tel {
    font-size: 65px;
    cursor: pointer;
    float: left;
    cursor: pointer;
}

.float {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

#end_result_info {
    position: absolute;
    /* left: -467px;*/
    top: 0px;
    left: 0px;
}

#end_result_next {
    font-size: 24px;
    line-height: 78px;
    letter-spacing: -1px;
}

#end_result_name {
    letter-spacing: -1px;
}

#sticky_story {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    z-index: 0;
    font-size: 180px;
    /* background-color: rgb(240,240,240);*/
    line-height: 23px;

}

#sticky_header {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0px;
}

#story_text {
    position: absolute;
    width: 80%;
    height: 55px;
    top: 20%;
    padding-left: 133px;
    font-size: 24px;
    overflow: hidden;
    color: black;
    text-align: center;
}

.story {
    float: left;
    margin-right: 3px;
}

#result_container {
    position: relative;
    /* height: 120px;*/
    left: 195px;
    overflow: hidden;
    top: -20px;
}

#visiable {
    width: 300px;
    height: 93px;
}

#first {
    float: left;
    cursor: pointer;
    line-height: 41px;
    letter-spacing: -1px;
}

#second {
    float: left;
    cursor: pointer;
}

#fixed_element_contact {
    display: none;
    height: 100%;
    width: 436px;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    left: -550px;
    background-color: #778899;
    z-index: 0;
}

#fixed_element_contact_body {
    height: 250px;
    color: rgb(255, 255, 255);
    position: absolute;
    padding-top: 7%;
    padding-left: 10%;
    font-size: 18px;
    line-height: 26px;
    font-family: Helvetica W01 Light;

}

#contact_header {
    margin-bottom: 23px;
}

#contact_submit {
    width: 84px;
    height: 38px;
    cursor: pointer;
    margin-left: 252px;
    margin-top: 27px;
    position: relative;
}

#contact_submit.send:hover {
    background: url(img/send.png) no-repeat 0px -38px;
}

#contact_submit.send {
    background: url(img/send.png) no-repeat 0 0;
}

#contact_submit.close {
    background: url(img/send.png) no-repeat 0 -114px;
}

#contact_submit.loader {
    background: url(img/send.png) no-repeat 0 -76px;
}

#mailUs {
    cursor: pointer;
    font-weight: bold;
    font-size: 64px;
    font-family: Helvetica W01 Bold;
    line-height: 17px;
    margin-left: 103px;
    letter-spacing: -3px;
}

#mailUsClose {
    background: url(img/about_close.png) no-repeat;
    width: 17px;
    height: 33px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 12px;
}

#aboutUsClose {
    background: url(img/about_close.png) no-repeat;
    width: 17px;
    height: 33px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 12px;
    cursor: pointer;
    z-index: 9;
}

.loader_gif {
    background: url(img/loader.gif);
    width: 34px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: 26px;
    display: none;

}

#ofLoder {
    position: relative;
}

#Message {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

#result_header {
    text-align: center;
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: 22px;
}

#result_rest {
    text-align: center;
    font-size: 64px;
    letter-spacing: -1px;
    margin-top: 3px;
    cursor: pointer;
}

#result_next {
    text-align: center;
    font-size: 26px;
    letter-spacing: -1px;
    margin-top: 70px;
    cursor: pointer;
}

#result_details {
    position: absolute;
    right: -3000px;
    width: 100%;
    cursor: pointer;
    letter-spacing: -1px;
    font-size: 24px;
}

#result_tel {
    text-align: center;
}

#result_address {
    text-align: center;

}

.content_wrapper {
    /* width: 100%;*/
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    /*  margin-top: 90px;*/
    text-align: left;
    border: 1px solid;
}

.sectionNew {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    position: relative;

}

.ques {
    float: left;
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 48px;
    margin-top: 25px;
    width: 450px;
}

.answer {
    float: left;
    margin-left: 68px;
    font-weight: bold;
    font-size: 64px;
    margin-top: 21px;
    line-height: 53px;
}
