/*** NORMALIZE ***/
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*** ***/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    letter-spacing: -1px;
}

body {
    overflow: hidden;
    font-family: "Helvetica", arial, sans-serif;
    font-weight: bold;
}

/*** COMMONS ***/

.hidden {
    visibility: hidden;
}

/*** HEADER ***/

header {
    background-color: #F0F0F0;
    padding: 20px 0;
    -webkit-box-shadow: 0 0px 4px #000000;
    -moz-box-shadow: 0 0px 4px #000000;
    box-shadow: 0 0px 4px #000000;
}

#headerContent {
    width: 960px;
    margin: 0 auto;
    min-height: 50px;
}

#story {
    font-size: 24px;
    line-height: 25px;
    width: 870px;
    float: left;
}

html[dir=rtl] #story {
    float: right;
}

#story span {
    padding-right: 6px;
}

html[dir=rtl] #story span {
    padding-right: 0;
    padding-left: 6px;
}

html[dir=rtl] #btnRestart {
    float: left;
}

/*** SUB-HEADER ANCHOR ***/

#subHeaderAnchor, #restCountWrapper {
    width: 960px;
    height: 0;
    position: relative;
    margin: 0 auto;
}

#restCount {
    position: absolute;
    right: 0;
    top: 22px; /* this compensates for the big font's bottom alignment in its container */
    font-size: 140px;
    z-index: 10;
}

html[dir=rtl] #restCount {
    right: auto;
    left: 9%;
}

#btnBackContainer {
    position: absolute;
    top: 15px;
    left: 50%;
    z-index: 10;
}

#btnBack {
    width: 36px;
    height: 18px;
    position: absolute;
    left: -18px;
    background: url('../img/back.png') center 0 no-repeat;
    cursor: pointer;
    display: none;
}

/*** QUESTIONS ***/

#questions {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

article {
    height: 100%;
    width: 960px;
    padding: 50px 0 0;
    margin: 0 auto;

}

.placeholder {
    /*padding: 0;
    margin: 0;
    height: 40%;
    width: 100%;*/
}

/*** QUESTION STYLING ***/

.questionBox {
    float: left;
    width: 280px;
    margin-right: 60px;
}

html[dir=rtl] .questionBox {
    float: right;
    margin-right: 0;
    margin-left: 60px;
}

.question {
    font-size: 48px;
    line-height: 48px;
}

.answers {
    font-size: 64px;
    line-height: 64px;
}

.answers li {
    cursor: pointer;
}

.answers li:hover {
    color: #757575;
}

/*** RESULTS ***/

#results {
    font-size: 24px;
    text-align: center;
}

#results span {
    display: inline-block;
}

#heading {
    margin-bottom: 4px;
}

#restInfo {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

#restLink, #restLink:active, #restLink:visited {
    color: black;
    text-decoration: none;
}

#restLink:hover {
    color: #757575;
}

#restName {
    font-size: 64px;
}

#restAddress {
    margin-bottom: 30px;
}

#btnNextRest {
    margin-bottom: 15px;
    cursor: pointer;
}

#btnNextRest:hover {
    color: #757575;
}

#btnRestart {
    width: 25px;
    height: 25px;
    background: url("../img/btnRestart.png") 0 0 no-repeat;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 15px;
}

#restTip {
    text-align: left;
    width: 280px;
    margin: 0 auto;
}

/*** "About us" ***/

#aboutUsWrapper {
    height: 100%;
    width: 440px;
    position: fixed;
    top: 0px;
    left: -500px;
    z-index: 2;
    text-align: left;
    background-color: rgb(238, 33, 100);

}

#aboutUsBtn {
    width: 38px;
    height: 66px;
    position: absolute;
    top: 50%;
    left: 500px;
    background: url(../img/info.PNG) no-repeat;
    cursor: pointer;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -33px;
}

#aboutUsContentWrapper {
    height: 100%;
    width: 436px;
    overflow: auto;
}

.para {
    font-size: 18px;
    margin-top: 43px;
    margin-left: 63px;
    color: rgb(255, 255, 255);
    line-height: 26px;
}

#contactUsWrapper {
    display: none;
    height: 100%;
    width: 436px;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    left: -550px;
    background-color: #778899;
    z-index: 0;
}

#contactUsBody {
    height: 316px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 18px;
    line-height: 26px;
    margin-left: 50px;
    margin-top: 43px;
    width: 340px;


}

#contact_header {
    margin-bottom: 23px;
}

#contact_submit {
    width: 84px;
    height: 38px;
    cursor: pointer;
    margin-left: 252px;
    margin-top: 27px;
    position: relative;
}

#contact_submit.send:hover {
    background: url(../img/send.png) no-repeat 0px -38px;
}

#contact_submit.send {
    background: url(../img/send.png) no-repeat 0 0;
}

#contact_submit.close {
    background: url(../img/send.png) no-repeat 0 -114px;
}

#contact_submit.loader {
    background: url(../img/send.png) no-repeat 0 -76px;
}

#mailUs {
    cursor: pointer;
    font-weight: bold;
    font-size: 64px;
    line-height: 17px;
    margin-left: 103px;
    letter-spacing: -3px;
}

#mailUsClose {
    background: url(../img/about_close.png) no-repeat;
    width: 17px;
    height: 33px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 12px;
}

.loader_gif {
    background: url(../img/loader.gif);
    width: 34px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: 26px;
    display: none;

}

#ofLoder {
    position: relative;
}

/*** end of About us ***/

/*** "MOBILE" ***/

/*@media screen and (max-width: 700px) {
    #counter {
        font-size: 60px;
    }
}*/

@media screen and (max-width: 480px) {
    body {
        height: 150%;
    }

    header {
        display: none;
    }

    #restCountWrapper {
        position: absolute;
        bottom: 0;
    }

    #restCount {
        top: auto;
        bottom: 10px !important;
        right: 20px;
        font-size: 90px;
        /*font-size: 40px;*/
    }

    html[dir=rtl] #restCount {
        right: auto;
        left: 20px;
    }

    article {
        width: 80%;
        padding: 30px 10% 0;
    }

    .question {
        width: 100%;
        padding-bottom: 15px;
        clear: both;
        font-size: 27px;
        line-height: 28px;
    }

    .answers {
        width: 100%;
        clear: both;
        font-size: 40px;
        line-height: 46px;
    }

    .answers li:hover {
        color: inherit;
    }

    .answers li:active {
        color: #757575;
    }

    #restName {
        font-size: 50px;
    }
}