/*** NORMALIZE ***/
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*** ***/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    letter-spacing: -1px;
}

body {
    overflow: hidden;
    font-family: "Helvetica", arial, sans-serif;
    font-weight: bold;
}

/*** COMMONS ***/

.hidden {
    visibility: hidden;
}

/*** HEADER ***/

header {
    background-color: #F0F0F0;
    padding: 20px 0;
    -webkit-box-shadow: 0 0px 4px #000000;
    -moz-box-shadow: 0 0px 4px #000000;
    box-shadow: 0 0px 4px #000000;
}

#headerContent {
    width: 960px;
    margin: 0 auto;
    min-height: 50px;
}

#story {
    font-size: 24px;
    line-height: 25px;
    width: 870px;
    float: left;
}

html[dir=rtl] #story {
    float: right;
}

#story span {
    padding-right: 6px;
}

html[dir=rtl] #story span {
    padding-right: 0;
    padding-left: 6px;
}

#btnRestart {
    width: 25px;
    height: 25px;
    float: right;
    background: url("../img/btnRestart.png") 0 0 no-repeat;
    cursor: pointer;
    display: none;
}

html[dir=rtl] #btnRestart {
    float: left;
}

/*** SUB-HEADER ANCHOR ***/

#subHeaderAnchor, #restCountWrapper {
    width: 100%;
    height: 0;
    position: relative;
}

#restCount {
    position: absolute;
    right: 9%;
    top: 22px; /* this compensates for the big font's bottom alignment in its container */
    font-size: 140px;
    z-index: 10;
}

html[dir=rtl] #restCount {
    right: auto;
    left: 9%;
}

#btnBackContainer {
    position: absolute;
    top: 15px;
    left: 50%;
    z-index: 10;
}

#btnBack {
    width: 36px;
    height: 18px;
    position: absolute;
    left: -50%;
    background: url('../img/back.png') center 0 no-repeat;
    cursor: pointer;
    display: none;
}

/*** QUESTIONS ***/

#questions {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

article {
    height: 100%;
    width: 82%;
    padding: 50px 9% 0;

}

.placeholder {
    padding: 0;
    margin: 0;
    height: 40%;
    width: 100%;
}

/*** QUESTION STYLING ***/

.questionBox {
    float: left;
    width: 29%;
    margin-right: 6%;
}

html[dir=rtl] .questionBox {
    float: right;
    margin-right: 0;
    margin-left: 5%;
}

.question {
    font-size: 48px;
    line-height: 48px;
}

html[dir=rtl] .question {
}

.answers {
    font-size: 64px;
    line-height: 64px;
}

html[dir=rtl] .answers {
}

.answers li {
    cursor: pointer;
}

.answers li:hover {
    color: #757575;
}

/*** "MOBILE" ***/

/*@media screen and (max-width: 700px) {
    #counter {
        font-size: 60px;
    }
}*/

@media screen and (max-width: 480px) {
    header {
        display: none;
    }

    #restCountWrapper {
        position: absolute;
        bottom: 0;
    }

    #restCount {
        top: auto;
        bottom: 10px !important;
        right: 20px;
        font-size: 90px;
        /*font-size: 40px;*/
    }

    html[dir=rtl] #restCount {
        right: auto;
        left: 20px;
    }

    article {
        width: 80%;
        padding: 30px 10% 0;
    }

    .question {
        width: 100%;
        padding-bottom: 15px;
        clear: both;
        font-size: 27px;
        line-height: 28px;
    }

    .answers {
        width: 100%;
        clear: both;
        font-size: 40px;
        line-height: 46px;
    }

    .answers li:hover {
        color: inherit;
    }

    .answers li:active {
        color: #757575;
    }
}