// Container for the entire app - and React starting point
.dc-app {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: {
    bottom: $footer-height;
  }

  letter-spacing: -1px;
}

// Gray area displaying the filters text
.dc-app-filters-display {
  height: $filters-display-height;
  background: {
    color: $background-color-filters;
  }

  padding: {
    top: 15px;
    bottom: 15px;

    left: 5%;
    right: 5%;
  }

  .display-text {
    @extend .container;
  }

  .filters-text {
    letter-spacing: -1px;
    font-size: 24px;
    line-height: 25px;
  }

  .cursor {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;

    -webkit-animation: storyCursorBlink 1s infinite; /* Safari 4+ */
    -moz-animation: storyCursorBlink 1s infinite; /* Fx 5+ */
    -o-animation: storyCursorBlink 1s infinite; /* Opera 12+ */
    animation: storyCursorBlink 1s infinite; /* IE 10+ */
  }
}

// Adjustments for RTL
.rtl {
  .dc-app-filters-display {
    .display-text {
      direction: rtl;
    }
  }
}

// The arrow up showing up after the question and navigates the filters back
.dc-app-filters-nav {
  @extend .container;

  $arrow-height: 20px;
  $arrow-width: 40px;

  width: 100%;
  height: $filters-nav-height;
  text-align: center;

  .arrow-up-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: $arrow-width/2 solid transparent;
    border-right: $arrow-width/2 solid transparent;
    border-bottom: $arrow-height solid $arrow-up-color;
    // For vertical centering of the arrow inside nav
    margin: {
      top: ($filters-nav-height - $arrow-height)/2;
    }

    cursor: pointer;

    &:hover,
    &:active {
      border-bottom: $arrow-height solid $arrow-up-color-hover;
    }
  }
}

// Questions + Answers and restaurants count display
.dc-app-filters {
  @extend .container;

  .padding-0 {
    padding: {
      left: 0px;
      right: 0px;
    }
  }

  .dc-app-filters-questions {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-8;

    text-align: left;
    margin: {
      bottom: 30px;
    };
  }

  .dc-app-filters-restaurants {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-4;

    text-align: right;

    &.hidden {
      visibility: hidden;
    }
  }

  .filters-question {
    @extend  .col-md-6;
    @extend .padding-0;

    font-size: 46px;
    line-height: 44px;
  }

  .filters-answers {
    @extend  .col-md-6;
    @extend .padding-0;

    li {
      cursor: pointer;
      font-size: 64px;
      line-height: 72px;
    }
  }

  .restaurants-label {
    display: inline-block;
    font-size: 20px;

    vertical-align: top;
  }

  .restaurants-num {
    display: inline-block;
    font-size: 164px;
    line-height: 124px;
  }

  @media (min-width: 768px) {
    // xs
  }

  @media (min-width: 992px) {
    // md
  }

  @media (min-width: 1200px) {
    // lg
  }
}

// Adjustments for RTL
.rtl {
  .dc-app-filters {
    direction: rtl;
    font-weight: bold;

    .dc-app-filters-questions {
      float: right;
      text-align: right;
    }

    .filters-question {
      float: right;
    }
  }
}

// Restaurants display after the questions
.dc-app-restaurants {
  @extend .container;

  .dc-app-restaurants-display {
    @extend .row;


  }

  .dc-app-restaurants-nav {
    @extend .row;

    height: $filters-nav-height;
    text-align: center;
  }
}