body {
  background: {
    color: $background-color;
  };
  color: $main-font-color;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


@-webkit-keyframes storyCursorBlink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes storyCursorBlink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes storyCursorBlink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes storyCursorBlink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}